.preview-page .preview {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "a"
                         "b";
    height: 100%;
    border-right: 1px solid #b8b4b4;
    box-sizing: border-box;
}

.preview-page .preview-header {
    grid-area: a;
    background-color: white;
    border-left: 1px solid #dddddd;
    line-height: 80px;
}

.preview-page .preview-wrapper {
    grid-area: b;
    background-color: #dddddd;
}

.preview-page .preview-container.preview-html {
    background-color: #e8e8e8;
    resize: none;
}